html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
a, a:focus, a:visited, a:hover {
	text-decoration: none;
	color: $blue;
}
a:hover {
	border-bottom: 1px solid;
}
a h1,
a h2,
a h3,
a p {
	color: initial;
}
h1, h2,h3 {
	font-weight: 300;
    margin-bottom: .5em;
    line-height: 1.1em;
}
h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.875em;
}
h3 {
	font-size: 1.5em;
}
p {
	font-size: 1.05em;
	font-weight: 300;
	letter-spacing: .3px;
	line-height: 1.45em;
	margin-bottom: 1em;
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
body {
	background-color: $light-gray;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
figure {
	margin: 0;
	overflow: hidden;
}